<h1>Select your seat</h1>
<br>
<div class="se"><br><br>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label><br><br>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label><br><br>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label>
<input type="checkbox">
<label for="">1</label><br><br>

</div>

<i class="fa fa-youtube-play" aria-hidden="true"></i>
