


<div class="container ticket">
  <a class="navbar-brand" href="#">
    <i class="bi bi-bus-front-fill"></i>
    MP Travels
  </a>
  <br><br>
  <table>
    <tr>
      <td>
        <h5>NAME : PAVITHRA</h5>
      </td>
      <td>
        <h5>ID : 7341025PC#$</h5>
      </td>
    </tr>
    <tr>
      <td>
        <h5>FROM : MADURAI</h5>
      </td>
      <td>
        <h5>TO : BANGLORE</h5>
      </td>
    </tr>
    <tr>
      <td>
        <h5>BUS TYPE : AC</h5>
      </td>
      <td>
        <h5>BUS NUMBER : MP5</h5>
      </td>
    </tr>
    <tr>
      <td>
        <h5>MEMBERS COUNT : 4</h5>
      </td>
      <td>
        <h5>TOTAL FARE : Rs 4000</h5>
      </td>
    </tr>
  </table>
</div>
<img [src]=img1 alt="TicketImage" class="ticket-image">


<a class="nav-link" href="javascript:void(0);" routerLink="/"><button>Back</button></a>


  
