<app-navbar></app-navbar>

  

<div class="login">
    <br>
    <h3>LOGIN</h3>
    <br><br>
    <form action="">
      <div class="chec">
      <input type="text" placeholder="Mail Id">
      <br><br>
      <input type="text" placeholder="Password">
      
    </div>
    <br>
        <input type="checkbox" name="" id="">
        <label for="">Remember me</label>
        <br>
     
      <br><br>
      
          <button class="signinbtn"  type="button">LOGIN</button>
    </form>
  </div>
