

.login {
    border: 1px solid ghostwhite;
    margin-top: 30px;
    margin-left: 550px;
    text-align: center;
    background-color: white;
    width: 350px;
    height: 400px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}
 
.signinbtn {
    margin: 0px;
    width: 300px;
    color: white;
    border-radius: 10px;
    background-color: blue;
    height: 35px;
    border:1px solid blue;
    font-size: 15px;
}

.chec input
{
    width: 200px;
    height:20px;
    padding: 10px;
    margin-left: 0px;
    border-radius: 5px;
    border-color: blueviolet;
}  
  