<app-navbar></app-navbar>

      <h1>We found your bus....</h1><br>
      <div class="tab">
      <table>
        <thead>
          <tr>
            <td>BUSNO</td>
            <td>FROM</td>
            <td>TO</td>
            <td>TRAVELCOST</td>
            <td>RATING</td>
          <td>BOOKNOW</td>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>154</td>
            <td>Madurai</td>
            <td>Rajapalayam</td>
            <td>120</td>
            <td><i class='fa fa-star' style='color: #f3da35'></i>4</td>
            <td><a href="javascript:void(0);" routerLink="/registration"><button>BOOK</button></a></td>
          </tr>
          <tr>
            <td>159</td>
            <td>Chennai</td>
            <td>Banglore</td>
            <td>1000</td>
            <td><i class='fa fa-star' style='color: #f3da35'></i>4</td>
            <td><a href="javascript:void(0);" routerLink="/registration"><button>BOOK</button></a></td>
          </tr>
          <tr>
            <td>245</td>
            <td>Madurai</td>
            <td>Kanyakumari</td>
            <td>650</td>
            <td><i class='fa fa-star' style='color: #f3da35'></i>4</td>
            <td><a href="javascript:void(0);" routerLink="/registration"><button>BOOK</button></a></td>
          </tr>
          <tr>
            <td>654</td>
            <td>Ramanathapuram</td>
            <td>Madurai</td>
            <td>95</td>
            <td><i class='fa fa-star' style='color: #f3da35'></i>4</td>
            <td><a href="javascript:void(0);" routerLink="/registration"><button>BOOK</button></a></td>
          </tr>
          <tr>
            <td>421</td>
            <td>Madurai</td>
            <td>Chennai</td>
            <td>1500</td>
            <td><i class='fa fa-star' style='color: #f3da35'></i>4</td>
            <td><a href="javascript:void(0);" routerLink="/registration"><button>BOOK</button></a></td>
          </tr>
          
        </tbody>

      </table>
    </div>