<app-navbar></app-navbar>

<h2>REGISTRATION FORM</h2>
<form action="">
<div class="claname">
    <div class="input1">
        <label for="">Enter your name</label><br><br>
<input type="text"><br><br>
<label for="">Phone No</label><br><br>
<input type="text" ><br>
<br></div>
<div class="input2"><label for="">No of tickets</label><br><br>
<input type="text">
<br><br>
<label for="">Select your payment by</label>
<br><br>
<i class="fa-brands fa-google-pay"></i><label for=""><a href="">google pay</a></label><br><br>
<i class="fa fa-credit-card" aria-hidden="true"></i><label for=""><a href="">credit cart</a></label><br><br>
<i class="fa fa-mobile" aria-hidden="true"></i><label for=""><a href="">phone pa</a></label>
<br><br>
<br></div>
<div class="che">
<label for="">Select your seat</label><br><br><br>
<input type="checkbox" placeholder=""><label for="">1</label>
<input type="checkbox" placeholder=""><label for="">2</label>
<input type="checkbox" placeholder=""><label for="">3</label>
<input type="checkbox" placeholder=""><label for="">4</label>
<input type="checkbox" placeholder=""><label for="">5</label>
<input type="checkbox" placeholder=""><label for="">6</label>
<input type="checkbox" placeholder=""><label for="">7</label>
<input type="checkbox" placeholder=""><label for="">8</label>
<input type="checkbox" placeholder=""><label for="">9</label>
<input type="checkbox" placeholder=""><label for="">10</label><br><br>
<input type="checkbox" placeholder=""><label for="">11</label>
<input type="checkbox" placeholder=""><label for="">12</label>
<input type="checkbox" placeholder=""><label for="">13</label>
<input type="checkbox" placeholder=""><label for="">14</label>
<input type="checkbox" placeholder=""><label for="">15</label>
<input type="checkbox" placeholder=""><label for="">16</label>
<input type="checkbox" placeholder=""><label for="">17</label>
<input type="checkbox" placeholder=""><label for="">18</label>
<input type="checkbox" placeholder=""><label for="">19</label>
<input type="checkbox" placeholder=""><label for="">20</label><br><br>
<input type="checkbox" placeholder=""><label for="">21</label>
<input type="checkbox" placeholder=""><label for="">22</label>
<input type="checkbox" placeholder=""><label for="">23</label>
<input type="checkbox" placeholder=""><label for="">24</label>
<input type="checkbox" placeholder=""><label for="">25</label>
<input type="checkbox" placeholder=""><label for="">26</label>
<input type="checkbox" placeholder=""><label for="">27</label>
<input type="checkbox" placeholder=""><label for="">28</label>
<input type="checkbox" placeholder=""><label for="">29</label>
<input type="checkbox" placeholder=""><label for="">30</label>
<br></div><br><br>
<a class="nav-link" href="javascript:void(0);" routerLink="/ticket"><button>Submit</button></a>
<br><br><br>
</div>
</form>
