<div class="head"><br>
  <a class="navbar-brand" href="#">
    <i class="bi bi-bus-front-fill"></i>
    MP Travels
  </a>

</div>
<br><br>
<div class="topnav">
 
    <nav>
      <br>
      
    <li><a href="javascript:void(0);" routerLink="/">
      <i class="fa fa-home" aria-hidden="true"></i>
      <span class="naviems">Home</span>
    </a></li><br><br>

    <li><a href="javascript:void(0);" routerLink="/login">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <span class="naviems">sign in</span>
    </a></li><br><br>

    <li><a href="javascript:void(0);" routerLink="/search">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
      <span class="naviems">Register</span>
    </a></li><br><br>

    <li><a href="javascript:void(0);" routerLink="/login">
      <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      <span class="naviems">edit profile</span>
      
    </a></li><br><br>

    <li><a href="javascript:void(0);" routerLink="/">
      <i class="fa fa-percent" aria-hidden="true"></i>
      <span class="naviems">offers</span>
    </a></li><br><br>

    <li><a href="javascript:void(0);" routerLink="/">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
      <span class="naviems">help</span>
    </a></li></nav>
    
  </div>
